body::-webkit-scrollbar {
  width: 12px;               
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-container{
  /* background-color: #5AAC4E !important; */
  height: 80vh;
  width: 70%;
  justify-content:center;
  margin: 0px 0px 0px 2%;
  padding: 5px ;
  /* border: 1px solid black; */
  border-radius: 2px;
  

}
.user-button{
  height: 40px;
  width: 60px;
  margin: 10px 0px 0px 0px;
  background-color: #5AAC4E;
  border-radius: 5px;
}
.text-area{
  /* background-color: aquamarine; */
  border-radius: 10px;
  height: 100px;
  margin: 10px 0px 0px 0px;
  background-color: #eef1f1;
}
.description{
  margin: 10px 0px 0px 0px;
  height: 80px;
  width: 80%;
  border: transparent;
  border-radius: 5px;

}
.user-container-form input{
  display: flex;
  margin: 10px 0px 10px 0px ;
  flex-direction: column;
  width: 50%;
  background: white;
  color: black;

}

.picture-container{
  margin: 10px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  height: 20px;
  width: 10%;
  height: 5%;
  border-radius: 5px;
  border: transparent;
  background-color: white;
}
.register a{
  color: #5AAC4E;
  margin: 1%;
  font-size: large;
}
.register{
  
  margin: 1%;
  font-size:medium;
}
.form-btn{
  background-color: #28a745;
}
.action-btn{
  background-color: #28a745;
  height: 10%;
  width: 100%;
  display: flex;
  margin: 5%;
  align-items: center;
  border-radius: 5px;
}


